body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  background-color: #fff;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.upper-title {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.91;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .upper-title {
    line-height: 1.36;
  }
}

.upper-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  display: inline-block;
  margin-right: 20px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 42px;
    line-height: 1.16;
  }
}

.after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .after-title {
    font-size: 18px;
    line-height: 1.67;
  }
}

.btn {
  min-width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.btn:hover,
.btn:focus {
  background-color: #ff6c00;
}

.backdrop {
  position: fixed;
  background-color: rgba(3, 3, 3, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 600px;
  height: 600px;
  padding: 40px;
  background-color: #fff;
  transition: transform 250ms linear;
}

.modal-btn {
  position: absolute;
  top: 6px;
  left: 94%;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(66, 66, 66, 0.5);
  border-radius: 50%;
  padding: 5px;
  transition: border 250ms linear;
}

.modal-btn__icon {
  fill: inherit;
  transition: fill 250ms linear;
}

.modal-btn:hover .modal-btn__icon {
  fill: var(--accent-cl);
}

.modal-btn:hover .modal-btn__icon {
  fill: var(--accent-cl);
}

.modal-btn:hover .modal-btn__icon {
  fill: var(--accent-cl);
}

.modal-btn:hover {
  border: 1px solid var(--accent-cl);
}

.modal-btn__title {
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 8px;
  color: var(--main-txt-cl);
  border: 1px solid rgba(157, 164, 189, 0.4);
  border-radius: 4px;
  transition: border 250ms linear;
}

.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--accent-cl);
}

.modal-textarea__label {
  display: flex;
  flex-direction: column;
}

.modal-textarea__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: none;
  outline: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  color: var(--main-txt-cl);
  border: 1px solid rgba(157, 164, 189, 0.4);
  border-radius: 4px;
  transition: border 250ms linear;
}

.modal-comment {
  margin-bottom: 4px;
}

.modal-textarea__textarea:hover,
.modal-textarea__textarea:focus {
  border: 1px solid var(--accent-cl);
}

.form__btn {
  color: #303030;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__logo {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__logo {
    fill: #303030;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 70px;
  }
}

.header__contact {
  display: none;
  align-items: center;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header__contact {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact {
    flex-direction: row;
  }
}

.header__tel {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms linear;
}

.header__tel:hover, .header__tel:focus {
  color: #ff6c00;
}

@media screen and (min-width: 768px) {
  .header__btn {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header__btn {
    margin-left: 40px;
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  fill: #ffffff;
}

.mob-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 347px;
  height: 100%;
  overflow-y: auto;
  padding: 48px;
}

.mob-is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-btn-close {
  display: flex;
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.mob-nav-list {
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
}

.mob-nav-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-nav-list__link {
  color: #303030;
}

.mob-nav-list__link:hover {
  color: #ff6c00;
}

.mob-header__tel {
  display: flex;
  margin-bottom: 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: #303030;
  transition: color 250ms linear;
}

.mob-header__tel:hover,
.mob-header__tel:focus {
  color: #ff6c00;
}

.mob-header__btn {
  color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 24px;
}

@media screen and (min-width: 1200px) {
  .nav-list__item:not(:last-child) {
    margin-right: 40px;
  }
}

.nav-list__link {
  color: #ffffff;
  transition: color 250ms linear;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #ff6c00;
}

.hero__content {
  width: 100%;
  display: flex;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .hero__content {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__content {
    min-width: 1200px;
  }
}

.hero__social {
  display: none;
  align-items: flex-end;
  width: 93px;
  padding-left: 24px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero__social {
    display: flex;
  }
}

.hero__text {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 306px;
}

@media screen and (min-width: 768px) {
  .hero__text {
    max-width: 349px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 18px;
    line-height: 1.66;
    max-width: 400px;
  }
}

.social-list {
  display: flex;
  align-items: center;
}

.social-list__position {
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
}

.social-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  display: inline-block;
  margin-right: 40px;
}

.social-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
}

.social-list__item:not(:last-child) {
  margin-right: 40px;
}

.social-list__link:hover, .social-list__link:focus {
  color: #ff6c00;
}

.hero-meta {
  background-color: grey;
  padding: 208px 15px 183px 15px;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../imges/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-meta {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../imges/hero-bg-mob-2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero-meta {
    padding: 208px 31px 183px 31px;
  }
}

@media screen and (min-width: 768px) {
  .hero-meta {
    padding: 280px 72px 274px 72px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../imges/hero-bg-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-meta {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../imges/hero-bg-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-meta {
    padding: 272px 0 206px 96px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../imges/hero-bg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-meta {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../imges/hero-bg-2x.jpg);
  }
}

.hero-meta__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .hero-meta__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.about-us {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .about-us {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    padding-top: 139px;
    padding-bottom: 92px;
  }
}

.about-us__content {
  display: flex;
}

.about-us__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-us__list {
    display: block;
    margin-bottom: -30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us__list {
    display: flex;
    margin-right: 64px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .about-us__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-us__item:not(:last-child) {
    margin-right: 30px;
  }
}

.about-us__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.about-us__btn {
  color: #303030;
}

.price {
  background-color: #111319;
  padding-top: 84px;
  padding-bottom: 84px;
  background-image: url(../imges/price-bg-mob.png);
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: url(../imges/price-bg-mob-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .price {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../imges/price-bg-tab.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../imges/price-bg-tab-2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .price {
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url(../imges/price-bg.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../imges/price-bg-2x.png);
  }
}

.price__upper-title {
  color: #c4c4c4;
}

.price__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 44px;
}

.price__title::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.price__btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 20px;
}

.prise__sale {
  padding: 30px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

@media screen and (min-width: 1200px) {
  .prise__sale {
    display: flex;
    background: transparent;
    padding: 0;
  }
}

.price-list {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .price-list {
    flex-grow: 1;
    padding: 30px 40px;
  }
}

.price-list__item {
  display: flex;
  justify-content: space-between;
}

.price-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list__text {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  .price-list__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
  }
}

@media screen and (min-width: 1200px) {
  .price-list-light {
    background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
  }
}

@media screen and (min-width: 1200px) {
  .price-list-night {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.skils {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .skils {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .skils {
    padding-top: 143px;
    padding-bottom: 137px;
  }
}

@media screen and (min-width: 768px) {
  .skils__content {
    width: 500px;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .skils__content {
    width: calc(50% - 15px);
    padding-top: 9px;
  }
}

.skils__content .title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.skils__content .after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .skils__content .after-title {
    margin-bottom: 0;
  }
}

.skils-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .skils-content {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .skils-blok {
    width: calc(50% - 15px);
    display: flex;
    justify-content: center;
  }
}

.skils-list {
  display: flex;
  flex-wrap: wrap;
  width: 418px;
}

@media screen and (min-width: 768px) {
  .skils-list {
    width: 450px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .skils-list {
    width: 370px;
    margin-left: 0;
  }
}

.skils-list__item:nth-child(2n) {
  margin-top: 30px;
}

.skils-list__item:nth-child(2n + 1) {
  margin-right: 30px;
}

.skils-list__item {
  position: relative;
  display: block;
  text-align: center;
  width: 193px;
  height: 133px;
  padding: 20px 35px;
  background: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .skils-list__item {
    width: 210px;
    padding: 20px 44px;
  }
}

@media screen and (min-width: 1200px) {
  .skils-list__item {
    width: 170px;
    padding: 20px 24px;
  }
}

.skils-list__number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  color: #303030;
}

.skils-list__number-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}

.skils-list__number::after {
  position: absolute;
  content: "+";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ff6c00;
}

.teams {
  background-color: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .teams {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .teams {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.teams-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .teams-list {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .teams-list__item {
    width: calc(100% / 3 - 30px);
  }
}

.teams-list__item:not(:last-child) {
  margin-bottom: 64px;
}

@media screen and (min-width: 1200px) {
  .teams-list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.teams-list__img {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .teams-list__img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .teams-list__img {
    transform: scaleX(1) scaleY(1);
    transition: transform 250ms linear;
  }
}

@media screen and (min-width: 1200px) {
  .teams-list__img:hover {
    transform: scaleX(1.1) scaleY(1.1);
  }
}

.teams-meta {
  text-align: center;
}

.teams-meta__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.teams-meta__position {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.teams-soc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teams-soc__item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.teams-soc__item:hover .teams-soc__icon {
  fill: #ff6c00;
}

.teams-soc__item:not(:last-child) {
  margin-right: 10px;
}

.teams-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.teams-soc__icon {
  fill: #303030;
  transition: fill 250ms linear;
}

.gallery {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.gallery__upper-title {
  margin-bottom: 44px;
}

.gallery__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.gallery__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc(100% / 4 - 30px);
  }
}

.container-wrap {
  background-color: #191c26;
  background-image: url(../imges/contact-bg-mob.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container-wrap {
    background-image: url(../imges/contact-bg-mob-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .container-wrap {
    background-image: url(../imges/contact-bg-tab.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .container-wrap {
    background-image: url(../imges/contact-bg-tab-2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .container-wrap {
    background-image: url(../imges/contact-bg.png);
    background-position: right;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .container-wrap {
    background-image: url(../imges/contact-bg-2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .container-wrap__containt {
    display: flex;
  }
}

.form {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 1200px) {
  .form {
    width: calc(50% + 15px);
    padding-top: 130px;
    padding-bottom: 130px;
    padding-right: 40px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: center;
  color: #f7f7f7;
  margin-bottom: 44px;
}

.form__brim {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .form__brim {
    display: flex;
  }
}

.form__name {
  position: relative;
}

.form__input {
  width: 100%;
  height: 24px;
  padding-bottom: 8px;
  margin-bottom: 44px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-size: 13px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: border-bottom 250ms linear;
}

@media screen and (min-width: 768px) {
  .form__input {
    margin-bottom: 0;
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .form__input {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .form__input:not(:last-child) {
    margin-right: 30px;
  }
}

.form__input:hover, .form__input:focus, .form__textarea:hover, .form__textarea:focus {
  border-bottom: 1px solid #ffffff;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 50%) scale(1);
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: transform 250ms linear;
}

.form__input:focus + .form__label {
  transform: translate(0, -10px) scale(1);
}

.form__textarea {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-size: 13px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: border-bottom 250ms linear;
}

.form__textarea::placeholder {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contact {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    width: calc(50% - 15px);
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
  }
}

@media screen and (min-width: 768px) {
  .contact__meta {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contact__meta {
    display: block;
  }
}

.contact__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.05em;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.contact__after-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  .contact__time {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact__time {
    text-align: left;
  }
}

.contact-list {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .contact-list {
    width: 330px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    margin-bottom: 70px;
    width: auto;
  }
}

.contact-list__item {
  display: flex;
  align-items: center;
}

.contact-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list__icon {
  margin-right: 16px;
  color: #9da4bd;
  transition: color 250ms linear;
}

.contact-list__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  transition: color 250ms linear;
}

.contact-list__item:hover .contact-list__icon {
  color: #ff6c00;
}

.contact-list__item:hover .contact-list__link {
  color: #ff6c00;
}

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__txt {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer__list {
  display: flex;
}

.footer__item {
  margin-left: 40px;
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;
}

.footer__link:hover, .footer__link:focus {
  color: #ff6c00;
}
/*# sourceMappingURL=main.css.map */