:root {
  /* шрифты */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* цвет текста */
  --main-txt-cl: #555555;
  --title-main-cl: #303030;
  --title-secondary-cl: #ffffff;
  --secondary-txt-cl: #9da4bd;
  --accent-cl: #ff6c00;

  /* отступы */
  --tipical-margin: 20px;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
  background-color: #fff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* section {
  border: 1px solid;
} */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

/* text colors */

.text-grey {
  color: var(--secondary-txt-cl);
}

/* Общее */

.upper-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  margin-bottom: var(--tipical-margin);
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--title-main-cl);
  margin-bottom: var(--tipical-margin);
}

.btn {
  min-width: 160px;
  height: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-cl);
}

/* ==================Хедер================== */

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: grey;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 70px;
}

.nav-items {
  display: flex;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-nav-link {
  color: var(--title-secondary-cl);
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact .btn {
  margin-left: 40px;
}

.header-tel {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--title-secondary-cl);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-cl);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-cl);
}

/* ================Герой============================ */

.hero-main-content {
  display: flex;
}

.hero-list {
  width: 93px;
}

.hero-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;

  color: var(--title-main-cl);
}

.hero-social-link:hover,
.hero-social-link:focus {
  color: var(--accent-cl);
}

.hero-content {
  background-color: grey;
  padding: 272px 0 206px 96px;
  flex-grow: 1;

  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../imges/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--title-secondary-cl);
  margin-bottom: var(--tipical-margin);
}

.hero-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  max-width: 400px;
}

/* =================Секция About Us============= */

.about-us {
  padding-top: 139px;
  padding-bottom: 92px;
}

.about-main-content {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-after-title {
  margin-bottom: var(--tipical-margin);
}

.about-us-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.about-us .btn {
  color: #303030;
}

/* ================PPRISE================= */

.price {
  background-color: rgba(17, 19, 25, 1);
  padding-top: 130px;
  padding-bottom: 130px;

  background-image: url(../imges/price-bg.png);
  background-position: center;
  background-size: cover;
}

.price .upper-title {
  color: rgba(196, 196, 196, 1);
}

.price .title {
  color: var(--title-secondary-cl);
  margin-bottom: 44px;
}

.prise-sale {
  display: flex;
  margin-bottom: 50px;
}

.price-list {
  flex-grow: 1;
  padding: 30px 40px;
}

.price-list-light {
  background-image: linear-gradient(rgba(23, 26, 36, 1), rgba(23, 26, 36, 0.2));
}

.price-list-night {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.price-item:not(:last-child) {
  margin-bottom: var(--tipical-margin);
}

.price-after-title {
  color: var(--secondary-txt-cl);
}

.price .btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 20px;
}

/* =================Секция Skils================== */

.skils {
  padding-top: 143px;
  padding-bottom: 137px;
}

.skils-content {
  display: flex;
}

.skils-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background: #f7f7f7;

  border: 1px solid red;

  display: block;
  text-align: center;
}

.skils-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;

  color: #303030;
}

.skils-number-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: #303030;
}

/* ============Секция Teams============== */

.teams {
  background-color: #f7f7f7;

  padding-top: 130px;
  padding-bottom: 130px;
}

.teams .title {
  margin-bottom: 44px;
}

.teams-list {
  display: flex;
}

.teams-item {
  width: calc(100% / 3 - 30px);
}

.teams-item:not(:last-child) {
  margin-right: 30px;
}

.teams-content {
  text-align: center;
}

.teams-img {
  margin-bottom: 30px;
}

.teams-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;

  color: #303030;

  margin-bottom: 8px;
}

.teams-position {
margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;

  color: #ff6c00;
}

.teams-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teams-soc-item {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.teams-soc-item:hover .teams-soc-icon {
  fill: var(--accent-cl);
}

.teams-soc-item:not(:last-child) {
  margin-right: 10px;
}

.teams-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

/*================ Секция Gallery=============*/

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery .upper-title {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
}

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

/*==================== Секция Form================ */

.form {
  background-color: #191c26;

  padding-top: 130px;
  padding-bottom: 193px;
}

.form .title {
  color: #f7f7f7;

  margin-bottom: 44px;
}

.form-brim {
  margin-bottom: 44px;
}

.form label,
.form-textarea {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.form-textarea {
  margin-bottom: 44px;
}

/*==================== Секция Contact ===============*/

.contact {
  background: rgba(25, 28, 38, 1);
  padding-top: 130px;
  padding-bottom: 130px;

  background-image: url(../imges/contact-bg.png);
  background-position: center;
  background-size: cover;
}

.contact .title {
  color: #f7f7f7;

  margin-bottom: 40px;
}

.contact-list {
  margin-bottom: 70px;
}

.contact-item:not(:last-child) {
  margin-bottom: var(--tipical-margin);
}

.contact-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-cl);
}

.contact-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: var(--tipical-margin);
}

.contact-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

/*=============== Секция Footer============== */
.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-txt {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item {
  margin-left: 40px;
}

.footer-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--accent-cl);
}
