:root {
  /* шрифты */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* цвет текста */
  --main-txt-cl: #555555;
  --title-main-cl: #303030;
  --title-secondary-cl: #ffffff;
  --secondary-txt-cl: #9da4bd;
  --accent-cl: #ff6c00;

  /* отступы */
  --tipical-margin: 20px;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
  background-color: #fff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* section {
  border: 1px solid;
} */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

/* text colors */

.text-grey {
  color: var(--secondary-txt-cl);
}

/* Общее */

.upper-title {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  margin-bottom: var(--tipical-margin);
}

.upper-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  display: inline-block;
  margin-right: 20px;
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--title-main-cl);
  margin-bottom: var(--tipical-margin);
}

.btn {
  min-width: 160px;
  height: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  cursor: pointer;

  transition: background-color 250ms linear;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-cl);
}

/* ==================Модалка================== */

.backdrop {
  position: fixed;
  background-color: rgb(3, 3, 3, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 600px;
  height: 600px;
  padding: 40px;

  background-color: #fff;

  transition: transform 250ms linear;
}

.btn-modal {
  position: absolute;
  top: 6px;
  left: 94%;
display: flex;
background-color: transparent;
cursor: pointer;
border: 1px solid rgb(26, 25, 25);
border-radius: 50%;
padding: 5px;
}

.btn-modal:hover .btn-modal-icon{
  fill: var(--accent-cl);
}

.btn-modal:hover  {
  border-color: var(--accent-cl);
}

.modal-title {
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field {
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 8px;
  color: var(--main-txt-cl);
  border: 1px solid rgba(157, 164, 189, 0.4);
  border-radius: 4px;
  transition: border 250ms linear;
}

.modal-form-field input:hover,
.modal-form-field input:focus {
  border: 1px solid var(--accent-cl);
}

.modal-form-comment {
  display: flex;
  flex-direction: column;
}

.modal-comment {
  margin-bottom: 4px;
}

.modal-form-comment textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: none;
  outline: none;
  padding: 12px 16px;
  margin-bottom: 30px;
  color: var(--main-txt-cl);
 
  border: 1px solid rgba(157, 164, 189, 0.4);
  border-radius: 4px;
  transition: border 250ms linear;
}

.modal-form-comment textarea:hover,
.modal-form-comment textarea:focus{
  border: 1px solid var(--accent-cl);
} 

.btn-form {
  color: #303030;
}

/* ==================Хедер================== */

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-nav {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.header-logo {
  margin-right: 70px;
}

.nav-items {
  display: flex;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-nav-link {
  color: var(--title-secondary-cl);

  transition: color 250ms linear;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact .btn {
  margin-left: 40px;
}

.header-tel {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--title-secondary-cl);

  transition: color 250ms linear;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-cl);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-cl);
}

/* ================Герой============================ */

.hero-main-content {
  display: flex;
}

.hero-social {
  display: flex;
  align-items: flex-end;
  width: 93px;
  padding-left: 24px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
  align-items: center;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  display: inline-block;
  margin-right: 40px;
}

.hero-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--title-main-cl);

  transition: color 250ms linear;
}

.hero-item:not(:last-child) {
  margin-right: 40px;
}

.hero-social-link:hover,
.hero-social-link:focus {
  color: var(--accent-cl);
}

.hero-content {
  background-color: grey;
  padding: 272px 0 206px 96px;
  flex-grow: 1;

  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../imges/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--title-secondary-cl);
  margin-bottom: var(--tipical-margin);
}

.hero-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  max-width: 400px;
}

/* =================Секция About Us============= */

.about-us {
  padding-top: 139px;
  padding-bottom: 92px;
}

.about-main-content {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-after-title {
  margin-bottom: var(--tipical-margin);
}

.about-us-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.about-us .btn {
  color: #303030;
}

/* ================PPRISE================= */

.price {
  background-color: rgba(17, 19, 25, 1);
  padding-top: 130px;
  padding-bottom: 130px;

  background-image: url(../imges/price-bg.png);
  background-position: center;
  background-size: cover;
}

.price .upper-title {
  color: rgba(196, 196, 196, 1);
}

.price .title {
  color: var(--title-secondary-cl);
  margin-bottom: 44px;
}

.price .upper-title::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.prise-sale {
  display: flex;
  margin-bottom: 50px;
}

.price-list {
  flex-grow: 1;
  padding: 30px 40px;
}

.price-list-light {
  background-image: linear-gradient(rgba(23, 26, 36, 1), rgba(23, 26, 36, 0.2));
}

.price-list-night {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.price-item:not(:last-child) {
  margin-bottom: var(--tipical-margin);
}

.price-after-title {
  color: var(--secondary-txt-cl);
}

.price .btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 20px;
}

/* =================Секция Skils================== */

.skils {
  padding-top: 143px;
  padding-bottom: 137px;
}

.skils-content {
  display: flex;
  justify-content: space-between;
}

.skils-blok {
  width: calc(50% - 15px);
  display: flex;
  justify-content: center;
}

.skils-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
}

.skils-item:nth-child(2n) {
  margin-top: 30px;
}

.skils-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.skils-item {
  position: relative;
  display: block;
  text-align: center;

  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background: #f7f7f7;
}

.skils-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;

  color: #303030;
}

.skils-number-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: #303030;
}

.skils-number::after {
  position: absolute;
  content: "+";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--accent-cl);
}

.skils-text {
  width: calc(50% - 15px);
  padding-top: 9px;
}

.skils-text p {
  min-width: 500px;
}

/* ============Секция Teams============== */

.teams {
  background-color: #f7f7f7;

  padding-top: 130px;
  padding-bottom: 130px;
}

.teams .title {
  margin-bottom: 44px;
}

.teams-list {
  display: flex;
}

.teams-item {
  width: calc(100% / 3 - 30px);
}

.teams-item:not(:last-child) {
  margin-right: 30px;
}

.teams-content {
  text-align: center;
}

.teams-img {
  margin-bottom: 30px;
  transform: scaleX(1) scaleY(1);

  transition: transform 250ms linear;
}

.teams-img:hover {
  transform: scaleX(1.1) scaleY(1.1);
}

.teams-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;

  color: #303030;

  margin-bottom: 8px;
}

.teams-position {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;

  color: #ff6c00;
}

.teams-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teams-soc-item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.teams-soc-icon {
  fill: #303030;

  transition: fill 250ms linear;
}

.teams-soc-item:hover .teams-soc-icon {
  fill: var(--accent-cl);
}

.teams-soc-item:not(:last-child) {
  margin-right: 10px;
}

.teams-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

/*================ Секция Gallery=============*/

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery .upper-title {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
}

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

/*==================== Секция Сонтакты Form================ */

.container-wrap {
  background-color: #191c26;

  background-image: url(../imges/contact-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.container-wrap .container {
  display: flex;
}

.form {
  width: calc(50% + 15px);

  padding-top: 130px;
  padding-bottom: 130px;
  padding-right: 40px;
}

.form .title {
  color: #f7f7f7;

  margin-bottom: 44px;
}

.form-brim {
  display: flex;
  margin-bottom: 44px;
}

.form-name {
  position: relative;
}

.form-input {
  width: 270px;
  height: 24px;
  padding-bottom: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  font-size: 13px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--title-secondary-cl);

  transition: border-bottom 250ms linear;
}

.form-input:not(:last-child) {
  margin-right: 30px;
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border-bottom: 1px solid var(--title-secondary-cl);
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 50%) scale(1);

  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
  transition: transform 250ms linear;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(0, -10px) scale(1);
}

.form-textarea {
  width: 560px;
  height: 76px;
  margin-bottom: 44px;

  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  font-size: 13px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--title-secondary-cl);

  transition: border-bottom 250ms linear;
}

.form-textarea::placeholder {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

/*==================== Секция Contact ===============*/

.contact {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
}

.contact .title {
  color: #f7f7f7;

  margin-bottom: 40px;
}

.contact-list {
  margin-bottom: 70px;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-bottom: var(--tipical-margin);
}

.contacts-icon {
  margin-right: 16px;
}

.contact-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;

  transition: color 250ms linear;
}

.contacts-icon {
  color: #9da4bd;

  transition: color 250ms linear;
}

.contact-item:hover .contacts-icon {
  color: var(--accent-cl);
}

.contact-item:hover .contact-link {
  color: var(--accent-cl);
}

.contact-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: var(--tipical-margin);
}

.contact-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

/*=============== Секция Footer============== */
.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-txt {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item {
  margin-left: 40px;
}

.footer-social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;

  transition: color 250ms linear;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--accent-cl);
}
