.about-us {
  padding-top: 139px;
  padding-bottom: 92px;

  &__content {
    display: flex;
  }

  &__list {
    display: flex;
    margin-right: 64px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }

  &__btn {
    color: #303030;
  }
}
