.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;

  &__logo {
    margin-right: 70px;
  }

  &__contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__tel {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: $title-secondary-cl;

    transition: color 250ms linear;
  }

  &__tel:hover,
  &__tel:focus {
    color: $accent-cl;
  }

  &__btn {
    margin-left: 40px;
  }
}
