.hero {
  &__content {
    width: 100%;
    display: flex;
    padding: 0;

    @include tablet {
      width: 720px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @include desktop {
      min-width: 1200px;
    }
  }

  &__social {
    display: none;
    align-items: flex-end;
    width: 93px;
    padding-left: 24px;
    padding-bottom: 40px;

    @include tablet {
      display: flex;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    color: $secondary-txt-cl;

    max-width: 306px;

    @include tablet {
      max-width: 349px;
    }

    @include desktop {
      font-size: 18px;
      line-height: 1.66;
      max-width: 400px;
    }
  }
}

.social-list {
  display: flex;
  align-items: center;

  &__position {
    transform: rotate(-90deg) translate(-19px);
    transform-origin: top left;
  }

  &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
    display: inline-block;
    margin-right: 40px;
  }

  &__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: $title-main-cl;

    transition: color 250ms linear;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-cl;
  }
}

.hero-meta {
  background-color: grey;
  padding: 208px 15px 183px 15px;
  flex-grow: 1;

  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../imges/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../imges/hero-bg-mob-2x.jpg);
  }

  @include mobile {
    padding: 208px 31px 183px 31px;
  }

  @include tablet {
    padding: 280px 72px 274px 72px;

    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../imges/hero-bg-tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../imges/hero-bg-tab-2x.jpg);
    }
  }

  @include desktop {
    padding: 272px 0 206px 96px;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url(../imges/hero-bg.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url(../imges/hero-bg-2x.jpg);
    }
  }

  &__title {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;

    color: $title-secondary-cl;
    margin-bottom: $tipical-margin;

    @include desktop {
      font-size: 72px;
      line-height: 1.18;
    }
  }
}
