.skils {
  padding-top: 84px;
  padding-bottom: 84px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include desktop {
    padding-top: 143px;
    padding-bottom: 137px;
  }

  &__content {
    @include tablet {
      width: 500px;
      margin-bottom: 44px;
    }

    @include desktop {
      width: calc(50% - 15px);
      padding-top: 9px;
    }
  }
}

.skils__content .title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.skils__content .after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  @include tablet {
    margin-bottom: 0;
  }
}

.skils-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  @include desktop {
    flex-direction: row;
  }
}

.skils-blok {
  @include desktop {
    width: calc(50% - 15px);
    display: flex;
    justify-content: center;
  }
}

.skils-list {
  display: flex;
  flex-wrap: wrap;
  width: 418px;

  @include tablet {
    width: 450px;
    margin-left: auto;
  }

  @include desktop {
    width: 370px;
    margin-left: 0;
  }

  &__item:nth-child(2n) {
    margin-top: 30px;
  }

  &__item:nth-child(2n + 1) {
    margin-right: 30px;
  }

  &__item {
    position: relative;
    display: block;
    text-align: center;

    width: 193px;
    height: 133px;
    padding: 20px 35px;

    background: #f7f7f7;

    @include tablet {
      width: 210px;
      padding: 20px 44px;
    }

    @include desktop {
      width: 170px;
      padding: 20px 24px;
    }
  }

  &__number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;

    color: #303030;
  }

  &__number-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    color: #303030;
  }

  &__number::after {
    position: absolute;
    content: "+";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: $accent-cl;
  }
}
